footer {
  text-align: center;
  color: #969696;
}

footer a {
  text-decoration: none;
  color: #969696;
  border-bottom: 1px solid #969696;
}

@media (max-width: 1024px) {
  footer {
    padding: 3em 1em;
  }
}